
.practices{
    text-align: center;
    margin-bottom: 2rem;
}



.practices-title-descrption{
    padding: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 40em) {
    .practices-title-descrption{
        width: 60%;
        margin: 0 auto;
    }
}

.practices-title{
    font-weight: 700;
    color: var(--blue-color);
    margin-bottom: .5rem;
}

.practices-description{
    color: var(--gray-color);
}

.practices-cards-con{
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    padding: 2rem;
    justify-items: center;
}


.practices button{
    padding: 8px 24px;
    color: var(--blue-color);
    outline: none;
    background: transparent;
    border: 1.5px solid var(--blue-color);
    font-weight: 600;
    
}

.practices button:hover{
    background-color: rgb(171, 240, 217);
}
