

.hero{
    background-image:linear-gradient(to left,transparent, rgba(97, 106, 161, 0.5)), url(src/images/asphalt-road-forest.jpg);
    /* background-image: url(asphalt-road-forest.jpg); */
    min-height: 100vh;
    padding: 2rem;
    background-size: cover;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.heading{
    font-size: 2rem;
    font-size: clamp(1rem, 6vw + .6rem, 5rem);
    line-height: 1.1;
    margin-bottom: .5rem;
    margin-top: 4rem;
    color: rgb(41, 43, 49);
    font-family: var(--ff-primary);
}
@media (min-width: 45em){
    .heading{
        width: 75%;
    }
}

@media (min-width: 87em){
    .heading{
        width: 55%;
    }
}

@media (min-width: 91em){
    .heading{
        width: 50%s;
    }
}




.heading-2{
    font-size: 25px;
    color: var(--theme-color);
    color: #fff;
    margin-bottom: .4rem;
}

@media (min-width: 50em){
    .heading-2{
        font-size: 40px;
    }
}

.paragraph{
    font-size: clamp(8px, 10vw + 8px, 20px);
    color: #fff;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 1rem;
    word-spacing: 2px;
}

@media (min-width: 50em){
    .paragraph{
        width: 55%;
    }
}

.hero-button{
    padding: 10px 24px;
    /* background-color: var(--theme-color); */
    /* background-color: #0ceddb; */
    background-color: #87f8ae;
    margin-bottom: 1rem;
    border: none;
    font-size: 20px;
    color: #29335c;
    font-weight: 600;
}