





.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    /* background-color: #1ae6d5; */
    background-color: #87f8ae ;
    margin-top: 0 !important;
    width: 100%;
    height: 80px;
}

/* @media screen and (max-width: 280px) {
    /* .header {
        height: 40px;
    }
    .quantum-logo{
        width: 100px;
    }
    .nav{
        transform: translateY(-120vh);
        max-width: 100%;
    } */

.quantum-logo{
    width: 150px;
    height: 50px;
    margin-top: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #1ae6d5;s */
    background-color: #87f8ae;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 1;
}

nav > ul{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;

}

header .responsive_nav{
    transform: none;
}


.header nav  ul li a{
    font-weight: 600;
    font-size: 1.5rem;
    font-size: clamp(1rem, 1.1vw + 0.6rem, 2.4rem);
    color: var(--blue-color);
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    
}

.header nav ul li{
    list-style: none;
    background-color: #87f8ae !important;
}

h1{
    font-weight: 700;
    
    color: #fff;
    font-style: normal;
}

a{
    text-decoration: none;  
}

header .nav-btn {
    padding: 6px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #eee;
    
}


nav .nav-close-btn {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
}



.quantum-logo-nav{
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0.8rem;
    left: 2rem;
}

@media screen and (min-width: 62em) {
    .header{
        height: 80px;
        width: 100%;
        padding: 1.5rem 3rem;
    }

    .quantum-logo-nav{
        display: none;
    }
    nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: none;
    }

    nav > ul{
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    
    }

    header .nav-btn{
        display: none;

    }

    .header nav ul li{
        display: inline-block;
        position: relative;
        &:hover {
          background-color: #1ae6d5;
      
          .nav__submenu {
            display: block;
          }
        }
    }
    

}


nav a.active{
    border-bottom: 2px solid green !important ;
    color: green ;
    font-weight: 800;
}
