


.family-card-con{
    aspect-ratio: 1/1.25;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));


}

.family-image{
    aspect-ratio: 1 / 1;
    /* grid-column: 1/2;
    grid-row: 1/2; */
    object-fit: cover;
}
.family-card-con h2{
    font-size: 2rem;
    /* grid-column: 1/2;
    grid-row: 1/2; */
    
    color: var(--theme-color);
    font-weight: 800;
}

.family-card-con p{
    margin-top: 1.5rem;
}
